<div class="row">
  <div class="col-md-12 p-1">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-md-4">
            <img class="img-fluid" src="{{ obj.image.url }}" alt="Card image"> 
          </div>
          <div class="col-md-8">
            <a href="{{ obj.get_absolute_url }}"><h3>|{{ obj.name }}</h3></a><small> {{ obj.author }} {{ obj.date_publish|timesince }} ago </small>
            <p class="card-text">{{ obj.description|truncatechars:120 }}</p>
            
            <div>
                {% for obj in obj.hashtag.all %}
                  {% include 'components/hashtag_list.html' %}
                {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>