{% extends "clown_base_generic.html" %}

{% block content %}
  <h1>Author: {{ author.last_name }}, {{ author.first_name }}</h1>
  <shadow>{{ author.date_of_birth }}</shadow>
  <div class="col-lg-12">
    <div class=col-lg-6 style="margin-top:20px">
    
      <h4>Hashtag [{{author.hashtag_set.count}}]</h4>

      <dl>
      {% for hashtag in author.hashtag_set.all %}
        {% if forloop.first %}
            <a href="{% url 'hashtag-detail' hashtag.pk %}">#{{hashtag}}</a>                            
        {% else %}
          <a style="margin-left:5px" href="{% url 'hashtag-detail' hashtag.pk %}">#{{hashtag}}</a>
        {% endif %}
      {% endfor %}
      </dl>
    
    </div>
    <div class=col-lg-6 style="margin-top:20px">
    
      <h4>Post [{{ num_authors_post }}]</h4>
      <dl>
      {% for post in author.post_set.all %}
        {% if post.is_publish %}
          <dt><a href="{% url 'post-detail' post.pk %}">|{{post}}</a></dt>
        {% endif %}
      {% endfor %}
      </dl>
    
    </div>
  </div>
{% endblock %}