{% extends "clown_base_generic.html" %}

{% block content %}
<div class="col-lg12">
  <div class="col-lg-9">
    {% if post.image %}
      <img src='{{ post.image.url }}' class='img-responsive'>
    {% endif %}
      <h1>|{{ post.name }}
        <a href="{% url 'author-detail' post.author.pk %}"><small>{{post.author}}</a> {{ post.date_publish }}</small>
      </h1> 
      <div style="margin-top:10px">
        <dl>
          {% for hashtag in post.hashtag.all %}
            {% if forloop.first %}
                <a href="{% url 'hashtag-detail' hashtag.pk %}">#{{hashtag}}</a>                            
            {% else %}
              <a style="margin-left:5px" href="{% url 'hashtag-detail' hashtag.pk %}">#{{hashtag}}</a>
            {% endif %}
          {% endfor %}
        </dl>
        <p>{{ post.description }}</p>
    </div>
  </div>
</div>
  
{% endblock %}